#Ignore .vscode files
./vscode
.vscode/

#ignore nodejs files
/node_modules/
npm-debug.log
package-lock.json
output/coverage/jest
output/coverage/junit/junit.xml
output/coverage/integration/integrationtest.xml

# ignore dotenv
.env

# ignore build files
dist-server
dist-ui